{%- render 'product',
  section: section,
  product: product
-%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.all.text.label",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "select",
          "id": "background",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.colors.default.label"
            },
            {
              "value": "accent",
              "label": "t:sections.all.colors.accent.label"
            },
            {
              "value": "contrast",
              "label": "t:sections.all.colors.contrast.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.colors.color.label"
        },
        {
          "id": "show_as_badge",
          "type": "checkbox",
          "default": false,
          "label": "t:sections.main-product.blocks.text.settings.show_as_badge.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.variant_picker.settings.header.content",
          "info": "t:sections.main-product.blocks.variant_picker.settings.header.info"
        },
        {
          "type": "text",
          "id": "option_names",
          "label": "t:sections.main-product.blocks.linked_products.settings.option_name.label",
          "default": "color, colour"
        },
        {
          "type": "select",
          "id": "swatch_style",
          "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.label",
          "options": [
            {
              "value": "color_swatch",
              "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.options.color_swatch.label"
            },
            {
              "value": "image_swatch",
              "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.options.image_swatch.label"
            }
          ],
          "default": "color_swatch"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.share.content",
          "info": "t:sections.main-product.blocks.share.info"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.all.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.all.custom_liquid.custom_liquid.label",
          "info": "t:sections.all.custom_liquid.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.all.collapsible_row.name",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.all.collapsible_row.heading.info",
          "label": "t:sections.all.collapsible_row.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Row content</p>",
          "label": "t:sections.all.collapsible_row.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.all.collapsible_row.page.label"
        },
        {
          "type": "checkbox",
          "id": "open_tab",
          "label": "t:sections.all.collapsible_row.open_tab.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.all.divider.name",
      "settings": [
        {
          "type": "select",
          "id": "color",
          "label": "t:sections.all.divider.settings.color.label",
          "options": [
            {
              "value": "accent",
              "label": "t:sections.all.divider.settings.color.accent.label"
            },
            {
              "value": "contrast",
              "label": "t:sections.all.divider.settings.color.contrast.label"
            }
          ],
          "default": "contrast"
        },
        {
          "type": "checkbox",
          "id": "contain_width",
          "label": "t:sections.all.contain_width.label",
          "default": false
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Goes well with",
          "label": "t:sections.all.header.label"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_to_show.label"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3,
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_per_page.label"
        }
      ]
    },
    {
      "type": "low_stock",
      "name": "t:sections.main-product.blocks.low_stock.name",
      "settings": [
        {
          "type": "range",
          "id": "threshold",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:sections.main-product.blocks.low_stock.settings.threshold.label",
          "info": "t:sections.main-product.blocks.low_stock.settings.threshold.info",
          "default": 2
        }
      ]
    },
    {
      "type": "payment_icons",
      "name": "t:sections.main-product.blocks.payment_icons.name"
    },
    {
      "type": "linked_products",
      "name": "t:sections.main-product.blocks.linked_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.linked_products.settings.content"
        },
        {
          "type": "text",
          "id": "delimiter",
          "label": "t:sections.main-product.blocks.linked_products.settings.delimiter.label",
          "info": "t:sections.main-product.blocks.linked_products.settings.delimiter.info",
          "default": "|"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main-product.blocks.linked_products.settings.option_name.label",
          "default": "Color"
        },
        {
          "type": "checkbox",
          "id": "hide_for_sold_out_products",
          "label": "t:sections.main-product.blocks.linked_products.settings.hide_for_sold_out_products.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "allow_oos_link",
          "label": "t:sections.main-product.blocks.linked_products.settings.allow_oos_link.label",
          "info": "t:sections.main-product.blocks.linked_products.settings.allow_oos_link.info",
          "default": true
        },
        {
          "type": "select",
          "id": "swatch_style",
          "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.label",
          "info": "t:sections.main-product.blocks.linked_products.settings.swatch_style.info",
          "options": [
            {
              "value": "text_link",
              "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.options.text_link.label"
            },
            {
              "value": "color_swatch",
              "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.options.color_swatch.label"
            },
            {
              "value": "image_swatch",
              "label": "t:sections.main-product.blocks.linked_products.settings.swatch_style.options.image_swatch.label"
            }
          ],
          "default": "text_link"
        }
      ]
    },
    {
      "type": "personalization_text",
      "name": "t:sections.main-product.blocks.personalization_text.name",
      "settings": [
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main-product.blocks.personalization_text.settings.option_name.label",
          "default": "Enter your custom text here..."
        },
        {
          "type": "checkbox",
          "id": "required_field",
          "label": "t:sections.main-product.blocks.personalization_text.settings.required_field.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "long_text",
          "label": "t:sections.main-product.blocks.personalization_text.settings.long_text.label",
          "default": false
        },
        {
          "type": "number",
          "id": "max_characters",
          "label": "t:sections.main-product.blocks.personalization_text.settings.max_characters.label",
          "info": "t:sections.main-product.blocks.personalization_text.settings.max_characters.info",
          "default": 0
        }
      ]
    },
    {
      "type": "personalization_options",
      "name": "t:sections.main-product.blocks.personalization_options.name",
      "settings": [
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main-product.blocks.personalization_options.settings.option_name.label",
          "default": "Which option would you like to select?"
        },
        {
          "type": "checkbox",
          "id": "required_field",
          "label": "t:sections.main-product.blocks.personalization_options.settings.required_field.label",
          "info": "t:sections.main-product.blocks.personalization_options.settings.required_field.info",
          "default": false
        },
        {
          "type": "select",
          "id": "option_type",
          "label": "t:sections.main-product.blocks.personalization_options.settings.option_type.label",
          "options": [
            {
              "value": "buttons",
              "label": "t:sections.main-product.blocks.personalization_options.settings.option_type.options.buttons.label"
            },
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.personalization_options.settings.option_type.options.dropdown.label"
            },
            {
              "value": "multiselect",
              "label": "t:sections.main-product.blocks.personalization_options.settings.option_type.options.multiselect.label"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "text",
          "id": "options",
          "label": "t:sections.main-product.blocks.personalization_options.settings.options.label",
          "info": "t:sections.main-product.blocks.personalization_options.settings.options.info",
          "default": "Option 1, Option 2, Option3"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.buttons.heading",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Learn more",
          "label": "t:sections.all.buttons.button_text.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "default": "/collections",
          "label": "t:sections.all.buttons.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.solid.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.buttons.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.link.label"
            }
          ],
          "default": "solid"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.all.layout.stacked.label"
        },
        {
          "value": "slider",
          "label": "t:sections.all.layout.slider.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-product.settings.desktop_media_layout.label"
    },
    {
      "type": "checkbox",
      "id": "mobile_show_arrows",
      "default": false,
      "label": "t:sections.main-product.settings.mobile_show_arrows.label"
    },
    {
      "type": "select",
      "id": "mobile_pagination",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.main-product.settings.mobile_pagination.dots.label"
        },
        {
          "value": "thumbnails",
          "label": "t:sections.main-product.settings.mobile_pagination.thumbnails.label"
        }
      ],
      "default": "dots",
      "label": "t:sections.main-product.settings.mobile_pagination.label"
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "label": "t:sections.main-product.settings.show_badges.label",
      "info": "t:sections.main-product.settings.show_badges.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "text_alignment",
      "id": "section_alignment",
      "label": "t:sections.all.section_alignment.label",
      "default": "center"
    }
  ]
}
{% endschema %}
